<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tai.todolist.aop.dao.TaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.tai.todolist.entity.Task">
        <id column="task_id" property="taskId" />
        <result column="userid" property="userid" />
        <result column="task_name" property="taskName" />
        <result column="description" property="description" />
        <result column="deadline" property="deadline" />
        <result column="finish" property="finish" />
        <result column="flag" property="flag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        task_id, userid, task_name, `description`, deadline, `finish`, flag
    </sql>

</mapper>
