<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tai.todolist.dao.BlogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.tai.todolist.entity.Blog">
        <id column="blog_id" property="blogId"/>
        <result column="userid" property="userid"/>
        <result column="context" property="context"/>
        <result column="post_time" property="postTime"/>
        <result column="flag" property="flag"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        blog_id, userid, `context`, post_time, flag
    </sql>

    <select resultType="java.util.Map" id="selectAllBlogsRelated" parameterType="integer">
        select u1.username username, b1.blog_id blogId, b1.context context, b1.post_time postTime
        from to_do_list.blog b1
                 join to_do_list.user u1
                      on b1.userid = u1.userid
        where b1.userid = #{userid}
        union
        select u2.username username, b2.blog_id blogId, b2.context context, b2.post_time postTime
        from to_do_list.blog b2
                 join to_do_list.user u2
                      on b2.userid = u2.userid
        where b2.userid in (select f.userid
                            from to_do_list.blog b
                                     join to_do_list.fans f
                                          on f.fan_id = b.userid
                            where b.userid = #{userid})
    </select>

</mapper>
