<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tai.todolist.dao.FansMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.tai.todolist.entity.Fans">
        <id column="relation_id" property="relationId" />
        <result column="userid" property="userid" />
        <result column="fan_id" property="fanId" />
        <result column="flag" property="flag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        relation_id, userid, fan_id, flag
    </sql>
    <select id="selectByUserId" parameterType="java.lang.Integer" resultType="map">
        select
            <include refid="Base_Column_List" />
        from
            fans
        where
            userid = #{userid}
        and flag = 1
    </select>

    <select id="selectByFanId" parameterType="java.lang.Integer" resultType="map">
        select
            <include refid="Base_Column_List" />
        from
            fans
        where
            fan_id = #{fanId}
        and flag = 1
    </select>
</mapper>
