<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tai.todolist.dao.FansMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.tai.todolist.entity.Fans">
        <id column="relation_id" property="relationId"/>
        <result column="userid" property="userid"/>
        <result column="fan_id" property="fanId"/>
        <result column="flag" property="flag"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        relation_id
        , userid, fan_id, flag
    </sql>
    <select id="selectByUserId" parameterType="java.lang.Integer" resultType="map">
        select distinct u.userid             as fanId,
                        u.username           as fanName,
                        (case
                             when #{userid} in (select distinct uu.userid
                                                from fans
                                                         left join user uu on uu.userid = fans.fan_id
                                                where fans.userid = u.userid
                                                  and fans.flag = 1) then true
                             else false end) as followed

        from fans
                 left join user u on u.userid = fans.fan_id
        where fans.userid = #{userid}
          and fans.flag = 1
    </select>

    <select id="selectByFanId" parameterType="java.lang.Integer" resultType="map">
        select u.userid as followId, u.username as followName
        from fans
                 join user u
                      on u.userid = fans.userid
        where fans.fan_id = #{fanId}
          and fans.flag = true
    </select>

    <select id="selectCommonFollows" parameterType="java.lang.Integer" resultType="map">
        select *
        from user
        where userid in (select distinct f1.userid as id
                         from fans as f1
                                  cross join fans as f2
                         where f1.fan_id = #{fan1Id}
                           and f2.fan_id = #{fan2Id}
                           and f1.flag = true
                           and f2.flag = true)
    </select>

    <select id="selectMutualFollows" parameterType="java.lang.Integer" resultType="map">
        select fan_id
        from fans
        where userid = #{fanId}
          and fan_id in (select userid
                         from fans
                         where fan_id = #{fanId}
                           and flag = 1)
          and flag = 1
    </select>

    <delete id="deleteFan">
        delete
        from fans
        where userid = #{userId}
          and fan_id = #{fanId}
    </delete>
</mapper>
